
.color-title[id="red"]{     /*  2  */
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}
#green{
    color: green;
}

#yellow{
    color: yellow;
}

.color-title{                   /*  3  */
    font-weight: normal;
}

img{                            /*  4  */
    height: 200px;
    width: 200px;
}
